<div>
  <div>
    <h1>
      Photo details
    </h1>
    <div>
      <div>
        <a href="/photos">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete photo
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src = "<%= @the_photo.image%>">
      </dd>
      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>
      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.owner_id %>
      </dd>
      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>
      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>
      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>
      <dt>
        Fans
      </dt>
      <dd>
        List of fans
      </dd>
      <dt>
        Add a Fan
      </dt>
      <dd>
        <button> Add Fan </button>
      </dd>
    </dl>
  </div>
</div>

<hr>
<div>
  <div>
  
    